/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, form, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset,  label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	background: #FFFEF8;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/** end reset css**/
body {
	max-width: 1140px;
	margin:auto;
	font-family: 'Work Sans' ;
	font-size: 14px;
}
header {
	display: flex;
	justify-content: space-between;
	margin: 50px 0
}
main{
	margin-top: 100px;
	margin-bottom: 60px;
}
section {
	margin: 50px 0
}

h1{
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C
}

h1 > span {
	font-family: 'Work Sans';
	font-size:10px;
	letter-spacing: 0.1em;
;
}

h2{
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154
}
nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;

}
nav li {
	padding: 0 10px;
	font-size: 1.2em;
}

li:hover {
	color: #B1663C;
}
#introduction {
	display: flex;
	align-items: center;
}
#introduction figure {
	flex: 1
}
#introduction img {
	display: block;
	margin: auto;
	width: 80%;
}

#introduction article {
	flex: 1
}
#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 0.5em;
}
#portfolio h2 {
	text-align: center;
	margin-bottom: 1em;
}
#filtres{
	display: flex;
	gap:10px;
	justify-content: center;
	margin-bottom: 2em;

}
.btn-filter:hover {
	background: #1D6154;
	color: #FFFEF8;
	

}

.btn-filter{
	color: #1D6154;
	border-radius: 60px;
	border: 1px solid #1D6154;
	/* flex-shrink: 0; */
	background: #FFFEF8;
	font-family: Syne;
	font-size: 16px;
	min-width: 100px;
	font-style: normal;
	font-weight: 700;
	padding: 8px 14px;
}

.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

.gallery img {
	width: 100%;
}

#contact {
	width: 50%;
	margin: auto;
}
#contact > * {
	text-align: center;

}
#contact h2{
	margin-bottom: 20px;
}
#contact form {
	text-align: left;
	margin-top:30px;
	display: flex;
	flex-direction: column;
}
#mail{
	background-color: #FFF;
}

#contact input {
	padding: 18px 0px 18px 16px;
	/* height: 45px; */
	font-size: 1.2em;
	border: none;
	box-sizing: border-box;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
 label {
	margin: 2em 0 1em 0;
}
#contact textarea {
	padding: 18px 16px;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
.validate {
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background: #1D6154;
	margin : 2em auto ;
	width: 180px;
	text-align: center;
	border-radius: 60px ;
	height: 40px;
	border: none;
    font-size: 14px;

}
/* input[type="submit"]{
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background: #1D6154;
	margin : 2em auto ;
	width: 180px;
	text-align: center;
	border-radius: 60px ;
	height: 40px;
	border: none;
    font-size: 14px;
} */
footer{
	display: flex;
	background: #FFFFFF;
	justify-content: flex-end;
	position: fixed;
	height: 60px;
	align-items: center;
	max-width: 1140px;
	bottom:0px;
	width: 100%;
}
footer nav ul {
	/* display: flex;
	justify-content: flex-end; */
	margin: 2em;
}



/*  LOGIN   */
a{
	text-decorationt: "none";
	color:#000;
	display: flex;
	flex-direction: column;
	align-itemst: center;
}

/* #form-login {
	text-align: left;
	margin-top:30px;
	display: flex;
	align-items: center;
	flex-direction: column;
} */


/* MODE EDITION */
hr{

	margin-top: 40px;
}
#svgMod{
	display:none;
	margin-left: 40px;
	margin-right: 15px;
}
#modifier{
	display:none;
	color: #000;
	font-family: "Work Sans";
	font-size: 14px;
	font-weight: 400;
	line-height: normal;
}
#portfolio h2{
	display: flex;
	align-items: center;
	justify-content: center;
}



/* DIALOG */
#svgClose{
	float: right;
}
#svgClose2{
	float: right;
}


dialog::backdrop {
	background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(253,187,45,0.8017477254573704) 100%);
}
#sectionAjout{
	width: 420px;

	padding: 0px 90px; 
	margin-bottom:0; 
	margin-top:30px
}
#titreAjout{
	color: #000; 
	margin-bottom: 35px; 
	text-align: center; 
	font-family:'Work Sans';
	font-size: 26px; 
	font-style: normal; 
	font-weight: 400; 
	line-height: normal;
}
#sectGalerieSup{
	
	padding: 0px 90px; 
	margin-bottom:0; 
	margin-top:30px
}

#conteneurPic{
	display: flex;
	flex-wrap: wrap;
	gap:30px 10px;
	justify-content: space-between;
	margin-bottom: 50px;
} 

#formNewPic{
	/* width: 420px; */
	display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#conteneurAjout{
	display: flex;
    flex-direction: column;
}

#conteneurAjout input,select{
	/* height: 45px; */
	width:420px;
	padding: 18px 0px 18px 16px;
	font-size: 1.2em;
	border: none;
	box-sizing: border-box;
	box-sizing: content-box;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

/*PREVIEW*/

#conteneurPreview{
	width: 420px;
	height: 169px;	
	border-radius: 3px;
	background: #E8F1F6;
	align-items: center;
	text-align: center;
	display: flex;
	flex-direction: column;
}


